@import '../main';

.welcomePage {
  @include margin-x(4%);
  @include margin-y(20px);
  
  .indexLinks {
    font-size: 1.2rem;

    li {
    
      & + li {
        margin-top: 4px;
      }
    }
  }

}