@import '../main';

body {

  main {
    $aside_max_width: 400px;

    width: calc(100% - #{$default_padding * 2});
    padding: 0 #{$default_padding};

    display: flex;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }


    article {
      max-width: ($body_max_width - $aside_max_width);
      width: 100%;
      @include md {
        width: calc(65% - #{$default_padding * 2});
        padding: 0 10px;
      }

    }
    
    aside {
      max-width: $aside_max_width;
      width: 100%;
      @include md {
        width: 35%;
      }
    }
  }
}

aside.tickerWidget {
  width: 100%;
}

